<div class="monaco-editor vs-dark">
    <div class="suggest-widget ">
        <div class="monaco-list">
            <div class="monaco-list-row">
                <div>
                    <h5><div class="icon method"></div> method, function, constructor |  </h5>
                </div>
                <div>
                    <h5><div class="icon field"></div> field, variable | </h5>
                </div>
                <div>
                    <h5><div class="icon class"></div> class | </h5>
                </div>
                <div>
                    <h5><div class="icon interface"></div> interface | </h5>
                </div>
                <div>
                    <h5><div class="icon module"></div> module | </h5>
                </div>
                <div>
                    <h5><div class="icon property"></div> property | </h5>
                </div>
                <div>
                    <h5><div class="icon unit"></div> unit | </h5>
                </div>
                <div>
                    <h5><div class="icon keyword"></div> keyword | </h5>
                </div>
                <div>
                    <h5><div class="icon text"></div> text | </h5>
                </div>
                <div>
                    <h5><div class="icon color"></div> color | </h5>
                </div>
                <div>
                    <h5><div class="icon file"></div> file | </h5>
                </div>
                <div>
                    <h5><div class="icon reference"></div> reference | </h5>
                </div>
                <div>
                    <h5><div class="icon snippet"></div> snippet | </h5>
                </div>
                <div>
                    <h5><div class="icon customcolor"></div> customcolor | </h5>
                </div>
                <div>
                    <h5><div class="icon folder"></div> folder | </h5>
                </div>
            </div>
        </div>
    </div>
</div>